@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

.sansS {
    font-family: 'Public sans';
    font-weight: 300;
}

.sansM {
    font-family: 'Public sans';
    font-weight: 400;
}

.sansL {
    font-family: 'Public sans';
    font-weight: 700;
}